<div
    #map
    class="h-[calc(60vh-64px)] sm:h-[calc(100vh-64px)]"
></div>

<section class="bg-white h-[40vh] overflow-y-scroll p-5 sm:fixed sm:left-10 sm:rounded sm:top-20 sm:w-[260px]">
    <h2 class="font-bold mb-2 text-black text-xl">
        Marcadores
    </h2>

    <div class="flex flex-col gap-2">
        @for (marker of markers(); track marker.id) {
            <div
                class="form-control"
                (click)="flyToMarker(marker.mapboxMarker.getLngLat())"
                (dblclick)="deleteMarker(marker)"
            >
                <label class="cursor-pointer flex label justify-between">
                    <span class="label-text text-black text-wrap text-xs">
                        {{ marker.mapboxMarker.getLngLat() | json }}
                    </span>

                    <input
                        checked="checked"
                        class="radio"
                        name="radio-10"
                        [style]="{
                            backgroundColor: marker.mapboxMarker._color
                        }"
                        type="radio"
                    />
                </label>
            </div>
        } @empty {
            <div class="bg-blue-100 flex items-center justify-center p-5 rounded-none">
                <p class="text-secondary text-xs">
                    No hay marcadores.
                </p>
            </div>
        }
    </div>
</section>
