<h1>Mutaciones</h1>

<hr>

<div class="row">
    <div class="col-6">
        <input
            #txtEmail
            class="form-control mb-2"
            type="text"
            (input)="onFieldUpdated('email', txtEmail.value)"
        />

        <input
            #txtFirstName
            class="form-control mb-2"
            type="text"
            (input)="onFieldUpdated('first_name', txtFirstName.value)"
        />

        <input
            #txtLastName
            class="form-control mb-2"
            type="text"
            (input)="onFieldUpdated('last_name', txtLastName.value)"
        />
    </div>

    <div class="col-6">
        <pre></pre>
    </div>
</div>
