@import "tailwindcss";
@plugin "daisyui" {
    themes: night --default;
}

@font-face {
    font-family: montserrat;
    src: url("./../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf")
        format("truetype");
}

@theme {
    --animate-fade-in: fadeIn 0.3s ease-in-out;
    --font-montserrat: "montserrat", sans-serif;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
