@import "tailwindcss";
@plugin "daisyui" {
    themes: night --default;
}

@font-face {
    font-family: montserrat;
    src: url("./../public/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf")
        format("truetype");
}

@theme {
    --font-montserrat: "montserrat", sans-serif;
}
