<h2>Reactivos: Switches</h2>

<hr>

<form
    autocomplete="off"
    [formGroup]="myForm()"
    (ngSubmit)="onSubmit()"
>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>

        <div class="col-sm-9">
            <div class="form-check">
                <input
                    class="form-check-input"
                    formControlName="gender"
                    id="radioMale"
                    type="radio"
                    value="M"
                />

                <label class="form-check-label" for="radioMale">
                    Masculino
                </label>
            </div>

            <div class="form-check">
                <input
                    class="form-check-input"
                    formControlName="gender"
                    id="radioFemale"
                    type="radio"
                    value="F"
                />

                <label class="form-check-label" for="radioFemale">
                    Femenino
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>

        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input
                    class="form-check-input"
                    formControlName="wantNotifications"
                    id="flexSwitchCheckChecked"
                    type="checkbox"
                />

                <label class="form-check-label" for="flexSwitchCheckChecked">
                    Quiero recibir notificaciones
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>

        <div class="col-sm-9">
            <div
                class="form-check"
                [class.text-danger]="formUtils().isValidField(myForm(), 'termAndConditions')"
            >
                <input
                    class="form-check-input"
                    formControlName="termAndConditions"
                    id="flexCheckDefault"
                    type="checkbox"
                >

                <label class="form-check-label" for="flexCheckDefault">
                    Términos y condiciones de uso
                </label>
            </div>

            @if (formUtils().isValidField(myForm(), 'termAndConditions')) {
                <span class="form-text text-danger">
                    Debe de aceptar las condiciones de uso
                </span>
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button
                class="btn btn-primary float-end"
                type="submit"
            >
                Guardar
            </button>
        </div>
    </div>
</form>


<h5>Valor del formulario</h5>
<pre>{{ myForm().value | json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ myForm().controls.gender.value | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ myForm().valid | json }}</pre>

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->

<!-- <br>
<pre>Condiciones: </pre> -->
