<div
    #groupDiv
    class="gap-4 grid grid-cols-2 h-screen md:grid-cols-4 overflow-y-scroll pt-5"
>
    @for (group of gifs(); track $index) {
        <div class="gap-4 grid">
            @for (gif of group; track gif.id) {
                <div>
                    <img
                        [alt]="gif.title"
                        class="h-full object-cover rounded-lg w-full"
                        [src]="gif.url"
                    />
                </div>
            }
        </div>
    }
</div>
