<section class="mt-5">
    <table class="mt-2 table table-md w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Ícono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (country of countries(); track country.cca2; let index = $index) {
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ country.flag }}</td>
                    <td>
                        <img
                            [alt]="country.name"
                            class="w-10"
                            [src]="country.flagSvg"
                        />
                    </td>
                    <td>{{ country.name }}</td>
                    <td>{{ country.capital }}</td>
                    <td>{{ country.population }}</td>
                    <td>
                        <a class="cursor-pointer link-primary">Más información</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
