<h1 class="text-2xl font-bold">
    {{ product().title }}
</h1>

<div class="divider"></div>

<form
    class="grid grid-cols-1 sm:grid-cols-2 gap-4"
    [formGroup]="productForm()"
    (ngSubmit)="onSubmit()"
>
    <div class="flex flex-col gap-2">
        <h2 class="text-2xl font-bold h-12">
            Datos generales
        </h2>

        <input
            class="input input-bordered w-full"
            [class.border-red-500]="productForm().get('title')?.errors ?? false"
            formControlName="title"
            placeholder="Título"
            type="text"
        />

        <form-error-label [control]="productForm().get('title')!" />

        <input
            class="input input-bordered w-full"
            [class.border-red-500]="productForm().get('slug')?.errors ?? false"
            formControlName="slug"
            placeholder="Slug"
            type="text"
        />

        <form-error-label [control]="productForm().get('slug')!" />

        <textarea
            class="textarea textarea-bordered"
            [class.border-red-500]="productForm().get('description')?.errors ?? false"
            formControlName="description"
            placeholder="Descripción"
            rows="6"
        ></textarea>

        <form-error-label [control]="productForm().get('description')!" />

        <h2 class="text-lg font-bold">Datos de venta</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
            <div>
                <input
                    class="input input-bordered w-full"
                    [class.border-red-500]="productForm().get('price')?.errors ?? false"
                    formControlName="price"
                    placeholder="Precio"
                    type="number"
                />

                <form-error-label [control]="productForm().get('price')!" />
            </div>

            <div>
                <input
                    class="input input-bordered w-full"
                    [class.border-red-500]="productForm().get('stock')?.errors ?? false"
                    formControlName="stock"
                    placeholder="Inventario"
                    type="number"
                />

                <form-error-label [control]="productForm().get('stock')!" />
            </div>
        </div>

        <input
            class="input input-bordered w-full"
            [class.border-red-500]="productForm().get('tags')?.errors ?? false"
            formControlName="tags"
            placeholder="Tags"
            type="text"
        />

        <form-error-label [control]="productForm().get('tags')!" />

        <div class="grid grid-cols-4 gap-2">
            <button
                class="btn btn-sm"
                [class.btn-outline]="productForm().value.gender !== 'men'"
                [class.btn-primary]="productForm().value.gender === 'men'"
                (click)="productForm().patchValue({ gender: 'men' })"
                type="button"
            >
                Masculino
            </button>

            <button
                class="btn btn-sm"
                [class.btn-accent]="productForm().value.gender === 'women'"
                [class.btn-outline]="productForm().value.gender !== 'women'"
                (click)="productForm().patchValue({ gender: 'women' })"
                type="button"
            >
                Femenino
            </button>

            <button
                class="btn btn-sm"
                [class.btn-outline]="productForm().value.gender !== 'kid'"
                [class.btn-warning]="productForm().value.gender === 'kid'"
                (click)="productForm().patchValue({ gender: 'kid' })"
                type="button"
            >
                Kid
            </button>

            <button
                class="btn btn-sm"
                [class.btn-outline]="productForm().value.gender !== 'unisex '"
                [class.btn-secondary]="productForm().value.gender === 'unisex'"
                (click)="productForm().patchValue({ gender: 'unisex' })"
                type="button"
            >
                Unisex
            </button>
        </div>

        <div class="grid grid-cols-6 gap-2">
            @for (size of sizes(); track size) {
                <button
                    class="btn btn-sm"
                    [class.btn-outline]="!productForm().value.sizes?.includes(size)"
                    [class.btn-secondary]="productForm().value.sizes?.includes(size)"
                    (click)="onSizeClicked(size)"
                    type="button"
                >
                    {{ size }}
                </button>
            }
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <div class="flex justify-end h-12">
            <button class="btn btn-secondary" type="submit">
                <!-- <span class="loading loading-spinner loading-sm"></span> -->

                Guardar
            </button>
        </div>

        <product-carousel
            [images]="product().images"
        />

        <input
            class="file-input file-input-bordered w-full mt-4"
            type="file"
        />
    </div>
</form>
