<section class="mb-5 mx-5">
    <h1 class="font-bold text-2xl">Pipes no tan comunes</h1>

    <h3 class="font-thin text-xl">Pipes incluidos en Angular</h3>
</section>

<div class="gap-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <app-card title="i18nSelectPipe">
        <p>Saludos a {{ client().name }}, es un placer {{ client().gender | i18nSelect:invitationMap() }} a nuestro evento</p>

        <button
            class="btn btn-primary"
            (click)="changeClient()"
        >
            Cambiar cliente
        </button>
    </app-card>

    <app-card title="i18nPluralPipe">
        <p>Actualmente {{ clients().length | i18nPlural:clientsMap() }}</p>

        <button
            class="btn btn-primary"
            (click)="deleteClient()"
            [disabled]="!clients().length"
        >
            Borrar cliente
        </button>
    </app-card>

    <app-card title="SlicePipe">
        <b>Original</b>

        <p class="text-primary">
            {{ clients().join(', ') }}
        </p>

        <b class="mt-2">Slice:0:2</b>

        <p class="text-primary">{{ clients() | slice:0:2 }}</p>

        <b class="mt-2">Slice:1:2</b>

        <p class="text-primary">{{ clients() | slice:1:2 }}</p>

        <b class="mt-2">Slice:1:3</b>

        <p class="text-primary">{{ clients() | slice:1:3 }}</p>

        <b class="mt-2">Slice:3:4</b>

        <p class="text-primary">{{ clients() | slice:3:4 }}</p>

        <b class="mt-2">Slice:0:-3</b>

        <p class="text-primary">{{ clients() | slice:0:-3 }}</p>
    </app-card>

    <app-card title="JsonPipe">
        <pre class="text-primary">{{ clients() | json }}</pre>

        <pre class="text-primary">{{ client() | json }}</pre>

        <p class="text-primary">{{ clients().join(', ') | json }}</p>
    </app-card>

    <app-card title="KeyValuePipe">
        <ul>
            @for (item of profile() | keyvalue; track $index) {
                <li>
                    <strong class="text-primary">{{ item.key }}: </strong>
                    
                    <span>{{ item.value }}</span>
                </li>
            }
        </ul>
    </app-card>

    <app-card title="AsyncPipe">
        <p class="text-primary">{{ promise | async }}</p>

        @if (promise | async; as value) {
            <p class="text-primary">{{ value }}</p>
        } @else {
            <p class="text-accent">Espere por favor...</p>
        }

        <h3>Observable</h3>

        <p>{{ myObservableTimer | async }}</p>

        @if (myObservableTimer | async; as value) {
            <p>Valor: {{ value }}</p>
        } @else {
            <p>Esperando primer valor</p>
        }
    </app-card>
</div>
