<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>
                        <input type="checkbox" class="checkbox" />
                    </label>
                </th>

                <th>Título</th>

                <th>Precio</th>

                <th>Inventario</th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (product of products(); track product.id) {
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox" />
                        </label>
                    </th>

                    <td>
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="mask mask-squircle h-12 w-12">
                                    <img
                                        [alt]="product.title"
                                        [src]="product.images | productImage"
                                    />
                                </div>
                            </div>

                            <div>
                                <a
                                    class="font-bold"
                                    [routerLink]="['/admin/products', product.id]"
                                >
                                    {{ product.title }}
                                </a>

                                <div class="text-sm opacity-50">
                                    {{ product.sizes.join(', ') }}
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        {{ product.price | currency }}
                    </td>

                    <td>
                        <span
                            class="badge"
                            [ngClass]="{
                                'badge-error': product.stock <= 10,
                                'badge-success': product.stock > 20,
                                'badge-warn': product.stock <= 20
                            }"
                        >
                            {{ product.stock }}
                        </span>
                    </td>

                    <th>
                        <a
                            class="btn btn-ghost btn-xs text-accent"
                            [routerLink]="['admin/products', product.id]"
                        >
                            Detalles
                        </a>
                    </th>
                </tr>
            }
        </tbody>
  </table>
</div>
