<div class="swiper" #swiperDiv>
    <div class="swiper-wrapper">
        @for (image of images(); track image) {
            <div class="swiper-slide">
                <img
                    alt="Producto"
                    class="animate-fade-in object-cover w-full"
                    [src]="image | productImage"
                />
            </div>
        }
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
</div>
