<div class="animate-fade-in bg-base-100 card shadow-sm">
    <figure>
        <img
            [alt]="product().title"
            [src]="product().images | productImage"
        />
    </figure>

    <div class="card-body">
        <h2
            class="card-title cursor-pointer font-montserrat hover:underline text-accent text-xl"
            [routerLink]="['/product', product().slug]"
        >
            {{ product().title }}
        </h2>

        <p>{{ product().description | slice:0:70 }}...</p>

        <div class="card-actions justify-end">
            <a
                class="link link-accent"
                [routerLink]="['/product', product().slug]"
            >
                Ver producto
            </a>
        </div>
    </div>
</div>
