<h2>Reactivos: Básicos</h2>

<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="myForm()">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>

                <div class="col-sm-9">
                    <input
                        class="form-control"
                        formControlName="name"
                        placeholder="Nombre del producto"
                        type="text"
                    />

                    <span class="form-text text-danger">
                        error message
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>

                <div class="col-sm-9">
                    <input
                        class="form-control"
                        formControlName="price"
                        placeholder="Precio del producto"
                        type="number"
                    />

                    <span class="form-text text-danger">
                        El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>

                <div class="col-sm-9">
                    <input
                        class="form-control"
                        formControlName="inStorage"
                        placeholder="Existencias del producto"
                        type="number"
                    />

                    <span class="form-text text-danger">
                        Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button
                        class="btn btn-primary float-end"
                        type="submit"
                    >
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ myForm().valid| json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm().pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm().touched | json }}</pre>

        <span>Value</span>
        <pre>{{ myForm().value | json }}</pre>

        <span>Errores</span>
        <pre>{{ myForm().controls.inStorage.errors| json }}</pre>
        <pre>{{ myForm().controls.name.errors| json }}</pre>
        <pre>{{ myForm().controls.price.errors| json }}</pre>

        <span>Precio</span>
        <pre>{{ myForm().controls.price.value | json }}</pre>

        <span>Producto</span>
        <pre>{{ myForm().controls.name.value | json }}</pre>
    </div>
</div>
